@charset "UTF-8";
/*Imports*/
/*miscelaneous*/
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Dancing+Script&family=Roboto:wght@400;500&display=swap");
/*VARIABLES*/
/*COLOR PRINCIPALES*/
/*FONTS AND SIZES*/
/*MAPS*/
/*Paddings for content*/
.padding-xxxlarge {
  padding: 10rem; }

.padding-xxlarge {
  padding: 6rem; }

.padding-xlarge {
  padding: 4rem; }

.padding-large {
  padding: 3rem; }

.padding-medium {
  padding: 2rem; }

.padding-small {
  padding: 1.5rem; }

.padding-xsmall {
  padding: 1rem; }

.padding-tiny {
  padding: 0.5rem; }

.padding-tiny-special {
  padding: 0.5rem 0; }

/*background colors for paddings*/
.background-color-Blueviolet {
  background-color: blueviolet; }

.background-color-aquamarine {
  background-color: aquamarine; }

.background-color-lightblue {
  background-color: #2c9abb; }

.background-color-lightpink {
  background-color: #f7d4fa; }

.background-color-lightblack {
  background-color: rgba(1, 1, 1, 0.916); }

.background-color-lightgrey {
  background-color: rgba(255, 255, 240, 0.061); }

/* RESET CSS*/
*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*GLOBALES*/
html {
  background-color: black;
  font-size: 62.5%;
  font-family: "Roboto";
  color: #ffffff; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

/*GRID*/
/*grid general*/
body {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

header {
  background-color: #000000;
  grid-row: 1/2;
  grid-column: 1/2; }

main {
  background-image: url("../assets/image/background.jpg");
  grid-row: 2/3;
  grid-column: 1/2; }

footer {
  grid-row: 3/4;
  grid-column: 1/2; }

/*GRID GALLERY*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr); }

/*HELPERS*/
/*Container*/
.container {
  max-width: 1080px;
  margin: 0 auto; }

/*Mixin flex*/
/*Mixin for tittles and texts*/
/*ANIMACIONES*/
/*ANIMACION EN H1*/
h1 {
  animation-name: h1;
  animation-timing-function: ease-in;
  animation-duration: 6s;
  animation-delay: .5s;
  animation-iteration-count: infinite; }

@keyframes h1 {
  0% {
    color: blueviolet; }
  50% {
    color: blue; }
  75% {
    color: aquamarine; }
  100% {
    color: pink; } }

/*partials*/
/*HEADER*/
header .navbar {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  padding: 2rem; }
  header .navbar .navbar__logo {
    flex-basis: 30%; }
    header .navbar .navbar__logo .logo__img {
      width: 100%;
      min-width: 200px; }
  header .navbar .navbar__label {
    display: none; }
  header .navbar .navbar__input {
    display: none; }
  header .navbar .navbar__input:checked + .navbar__menu {
    background-color: none; }
  header .navbar .navbar__menu {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    font-size: 1.3em;
    text-align: center;
    transition: all .5s; }
    header .navbar .navbar__menu .menu__item, header .navbar .navbar__menu .menu__item--active {
      border: none; }
      header .navbar .navbar__menu .menu__item--active {
        color: blueviolet;
        border-bottom: .2rem solid blueviolet; }
      header .navbar .navbar__menu .menu__item .menu__link, header .navbar .navbar__menu .menu__item--active .menu__link {
        font-size: 1.8em;
        padding: 1rem; }

/*MEDIA QUERY HEADER*/
@media screen and (max-width: 770px) {
  header .navbar .navbar__logo {
    flex-basis: 50%; }
    header .navbar .navbar__logo .logo__img {
      width: 100%;
      min-width: 200px; }
  header .navbar .navbar__label {
    display: block;
    cursor: pointer; }
  header .navbar .navbar__menu {
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    flex-wrap: nowrap;
    clip-path: circle(0 at center);
    transition: clip-path 3s easy-in-out; }
  header .navbar .navbar__input:checked + .navbar__menu {
    background-color: #19062b;
    clip-path: circle(100% at center); } }

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  min-height: 20vh;
  padding: 1rem;
  background-image: linear-gradient(to bottom, blueviolet, #4400ff); }
  .footer__socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: wrap;
    flex-wrap: wrap;
    flex-basis: 40%; }
    .footer__socialmedia img {
      padding: 2rem; }
    .footer__socialmedia .footer__icon {
      padding: 2rem;
      min-width: 20%; }

.copyright__text {
  font-size: 2em;
  font-weight: lighter; }

/*MEDIA QUERY FOOTER*/
@media screen and (max-width: 1024px) {
  .footer .footer__socialmedia {
    justify-content: space-around;
    flex-basis: 30%; }
    .footer .footer__socialmedia img {
      padding: .8rem; }
    .footer .footer__socialmedia .copyright__text {
      font-size: 1.8em;
      padding: 1rem; } }

/*views*/
/*INDEX*/
.banner {
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem; }
  .banner__img {
    width: 100%;
    min-width: 360px; }

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  background-color: rgba(1, 1, 1, 0.916);
  padding: 4rem; }
  .section__picture {
    flex-basis: 50%;
    min-width: 360px;
    border-radius: 1rem; }
    .section__picture .section__img {
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.5rem;
      background-color: aquamarine; }
  .section__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    flex-basis: 50%;
    color: #ffffff; }
    .section__description .section__container h1 {
      font-size: 5em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 1rem;
      text-align: center;
      font-family: "Bowlby One SC";
      color: blueviolet; }
    .section__description .section__container h2 {
      font-size: 2em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 0;
      text-align: center;
      color: #ebdfae;
      padding: 1.5rem; }
    .section__description .section__container .section__h2:before {
      content: "✨"; }
    .section__description .section__container .section__h2:after {
      content: "✨"; }
    .section__description .section__container h3 {
      font-size: 3em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 0;
      text-align: center;
      color: #ebdfae;
      padding: 1.5rem; }
    .section__description .section__container p {
      font-size: 1.6em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 0.1rem;
      text-align: justify;
      padding: 1rem; }
    .section__description .button {
      font-size: 1.8em;
      font-weight: bold;
      color: #000000;
      text-align: center;
      background-color: aquamarine;
      width: 25rem;
      padding: 0.5rem 0;
      border-radius: 3rem; }
      .section__description .button:hover {
        background-color: #2c9abb; }
      .section__description .button:active {
        background-color: #2c9abb;
        transform: translateY(3px); }

/*MEDIA QUERY INDEX*/
@media screen and (max-width: 1024px) {
  .section {
    flex-wrap: wrap;
    align-items: center; }
    .section__picture {
      flex-grow: 1;
      padding: 0 1rem; }
    .section__description {
      flex-grow: 1;
      order: -1;
      align-items: center;
      padding: 1rem; }
      .section__description .section__container h1 {
        font-size: 3em;
        padding-bottom: 2rem;
        font-weight: lighter;
        letter-spacing: .5rem; }
      .section__description .section__container h2 {
        font-size: 2.2em; }
      .section__description .section__container p {
        font-size: 1.4em; } }

@media screen and (max-width: 360px) {
  .section__description .section__container h2 {
    font-size: 1.8em; }
  .section__description .section__container p {
    font-size: 1.6em; } }

/*ABOUT*/
/*Coldplay information*/
.band {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: rgba(1, 1, 1, 0.916); }
  .band__information {
    margin: 2rem; }
    .band__information h1 {
      font-size: 5em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 1rem;
      text-align: center;
      font-family: "Bowlby One SC";
      color: blueviolet;
      margin: 2rem; }
    .band__information .band__p {
      font-size: 2.2em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 0.1rem;
      text-align: center;
      color: #dfc1df;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 10rem;
      padding-right: 10rem; }
    .band__information p {
      font-size: 1.8em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 0.1rem;
      text-align: justify;
      padding-left: 10rem;
      padding-right: 10rem;
      padding-bottom: 1.5rem; }
    .band__information h3 {
      font-size: 3em;
      font-weight: lighter;
      font-style: normal;
      letter-spacing: 0.3rem;
      text-align: center;
      color: #dfc1df;
      font-weight: bolder;
      padding-bottom: 6rem; }
  .band__img {
    width: 100%;
    min-width: 360px;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem; }

/*Members presentation*/
.members {
  padding-top: 3rem;
  padding-bottom: 4rem; }
  .members__tittle {
    font-size: 3em;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.5rem;
    text-align: justify;
    color: white;
    padding: 4rem;
    justify-content: center;
    text-align: center; }
  .members__presentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3, 1fr;
    justify-content: center;
    gap: 10rem;
    padding: 10rem;
    background-color: rgba(27, 27, 88, 0.902);
    border-radius: 2rem; }
    .members__presentation .members__information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
      flex-wrap: wrap; }
      .members__presentation .members__information .members__img {
        width: 80%;
        min-width: 360px;
        padding: 3rem;
        transition: .6s ease-in-out; }
        .members__presentation .members__information .members__img:hover {
          transform: rotate(1turn) scale(1.1, 1.1); }
      .members__presentation .members__information .members__name {
        font-size: 3em;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.2rem;
        text-align: justify;
        color: white; }
      .members__presentation .members__information .members__description {
        font-size: 1.6em;
        font-weight: lighter;
        font-style: normal;
        letter-spacing: 0.1rem;
        text-align: justify;
        padding: 1rem; }

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  padding: 3rem; }
  .newsletter .form {
    background-color: rgba(255, 255, 240, 0.061);
    border-radius: 3rem;
    padding: 4rem;
    align-items: center; }
    .newsletter .form__img {
      width: 100%;
      min-width: 360px;
      flex-basis: 30%; }
    .newsletter .form__p {
      font-size: 1.8em;
      padding: 1rem; }
    .newsletter .form .contact__form {
      width: 100%;
      padding: 1rem; }
      .newsletter .form .contact__form .contact__sector {
        padding-bottom: 2rem; }
        .newsletter .form .contact__form .contact__sector .contact__input {
          font-size: 1.8em; }
        .newsletter .form .contact__form .contact__sector .contact__inside {
          text-align: left;
          font-size: 1.8em;
          padding: 1rem; }
        .newsletter .form .contact__form .contact__sector .contact__checkbox {
          font-size: 1.8rem; }
      .newsletter .form .contact__form .form__button .button_letter {
        color: #ffffff;
        background-color: blueviolet;
        padding: 1rem 9rem;
        border-radius: 1.2rem;
        font-size: 1.8rem; }

/*MEDIA QUERY ABOUT*/
@media screen and (max-width: 720px) {
  /*Media query for band information*/
  .band__information h1 {
    font-size: 4em;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 1rem;
    text-align: center; }
  .band__information .band__p {
    font-size: 2em;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem; }
  .band__information p {
    font-size: 1.6em;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0.1rem;
    text-align: justify;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem; }
  .band__information h3 {
    padding-bottom: 3rem; }
  .band__img {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  /*Media query for members presentation*/
  .members__presentation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 2rem;
    padding: 2rem; }
    .members__presentation .members__information .members__description {
      font-size: 1.6em;
      padding: 3rem; }
  /*Media query for newsletter*/
  .newsletter .form {
    padding: 3rem;
    padding-bottom: 3rem; } }

/*ALBUMS*/
.playlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 4rem;
  padding: 1.5rem;
  padding-bottom: 10rem;
  background-color: rgba(1, 1, 1, 0.916);
  border-radius: 2rem; }
  .playlist__h2 {
    font-size: 2.2em;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    color: white; }
  .playlist__p {
    font-size: 2em;
    padding-bottom: 1.5rem; }

/*MEDIA QUERY MEDIA*/
@media screen and (max-width: 1024px) {
  .playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center; } }

@media screen and (max-width: 720px) {
  .band__information h1 {
    font-size: 4em;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 1rem;
    text-align: center; }
  .band__information .band__p {
    font-size: 2em;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .playlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center; } }

/*TOUR*/
.table {
  width: 100%;
  min-width: 50%;
  padding: 3rem;
  background-color: rgba(1, 1, 1, 0.916); }
  .table__tittle {
    font-size: 3em;
    padding-bottom: 2rem;
    text-align: center;
    color: blueviolet; }
  .table__dates {
    font-size: 2em;
    font-weight: lighter;
    padding-bottom: 2rem; }
  .table__button {
    font-size: 1em;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: #000000;
    text-decoration: none;
    background-color: aquamarine; }
  .table__buttonsoldout {
    font-size: 1em;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: #000000;
    text-decoration: line-through;
    background-color: rgba(255, 255, 240, 0.061); }

/*MEDIA QUERY TOUR*/
@media screen and (max-width: 720px) {
  .table__tittle {
    font-size: 2em;
    padding-bottom: 2rem; }
  .table__dates {
    font-size: 1.8em;
    padding: 0.5rem; } }

@media screen and (max-width: 480px) {
  .table {
    padding: 1rem; }
    .table__tittle {
      font-size: 2em;
      padding-bottom: 2rem; }
    .table__dates {
      font-size: 1.3em;
      padding: 0.5rem; }
    .table__button {
      padding: 0.5rem; }
    .table__buttonsoldout {
      padding: 0.5rem; } }

/*GALLERY*/
.gallery {
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .gallery img {
    width: 100%;
    border-radius: .5rem;
    padding: 0.2rem;
    background-color: rgba(255, 255, 240, 0.061); }

/*MEDIA QUERY GALLERY*/
@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media screen and (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }
