<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The official Coldplay fan website where you can find Information about the band, formation, life members, photos, music evolution and get more information by subcribing to out daily newsletter">
    <meta name="keywords"
        content="about,coldplay, band, information, members, creation, history, formation, photos, videos, music, evolution, musicians, contact, e-mail, newsletter, band, Chris Martin, Guy Burryman, Jon Buckland, Will Champion">
    <link rel="shortcut icon" href="../assets/image/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">

    <title>About | Coldplay's information</title>
</head>

<body>
    <!--Header start-->
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <label for="hambur" class="navbar__label">
                <img src="../assets/image/hambur.png" alt="hambur" class="hambur__img">
            </label>
            <input type="checkbox" id="hambur" class="navbar__input">
            <ul class="navbar__menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item--active">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="albums.html" class="menu__link">Albums</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="gallery.html" class="menu__link">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--Header end-->

    <!--Main start-->

    <main>
        <div class="banner">
            <picture>
                <img src="../assets/image/galeria10.jpg" class="banner__img" alt="foto de banda">
            </picture>
        </div>


        <!--Coldplay information-->

        <article class="band container">
            <div class="band__information">
                <h1>About Coldplay</h1>
                <p class="band__p"> "A british rock pop group whose melodic piano-driven anthems lifted it
                    to the top of the pop music world in the early 21st century."</p>
                <p>Coldplay was formed in 1998, London, with the pairing of Chris Martin and Jonny Buckland. Whose,
                    during their orientation week at
                    University College in 1996, created a band call <i>"Pectoralz".</i> The band was later filled out
                    with Guy Berryman and Will Champion.</p>
                <p> By 1997, the band renamed themselves as <i>"Starfish"</i> and performed gigs at small clubs. Martin
                    also recruited his longtime school friend Phil Harvey, to
                    be the band's manager and the unofficial fifth member of the group.</p>
                <p> The band finally settled on the name of <i>"Coldplay"</i> which was suggested by Tim
                    Crompton, a local student who had
                    been using the name for his own group</p>
                <p class="band__p"> "And that's how all begins..."</p>
            </div>
        </article>

        <!--Members-->

        <section class="members container">
            <h2 class="members__tittle">THE MEMBERS</h2>
            <div class="members__presentation">
                <div class="members__information">
                    <img src="../assets/image/Chrismartin.png" alt="chrismartin" class="members__img">
                    <h2 class="members__name">CHRIS MARTIN</h2>
                    <p class="members__description">Christopher John Martin (born 02/03/1977 - England), is
                        an English songwriter and musician best known as the lead vocalist, pianist and
                        co-founder
                        of the Coldplay.</p>
                </div>
                <div class="members__information">
                    <img src="../assets/image/guyburryman.png" alt="Guy berryman" class="members__img">
                    <h2 class="members__name">GUY BERRYMAN</h2>
                    <p class="members__description">Guy Rupert Berryman  (born 12/04/1978 - Scotland),
                        is a Scottish musician,
                        songwriter and producer, best known as the bassist and vocalist of Coldplay. </p>
                </div>
                <div class="members__information">
                    <img src="../assets/image/willchampion.png" alt="Will Champion" class="members__img">
                    <h2 class="members__name">WILL CHAMPION</h2>
                    <p class="members__description">William Jay Champion (born 31/07/1978 - England)
                        is an English musician and songwriter best known as the drummer and backing vocalist of Coldplay.
                    </p>
                </div>
                <div class="members__information">
                    <img src="../assets/image/jonbuckland.png" alt="Jonny Buckland" class="members__img">
                    <h2 class="members__name">JON BUCKLAND</h2>
                    <p class="members__description">Jonathan  mark Buckland (born 11/09/1977 - England) is an
                        English half
                        Welsh
                        musician, songwriter, lead guitarist and also a co-founder of Coldplay. </p>
                </div>
            </div>
        </section>

        <!--Music evolution-->

        <article class="band container">
            <div class="band__information">
                <h3>MUSIC EVOLUTION</h3>
                <p>Coldplay penetrated the U.K. Top 100 in 1999 with the single
                    “Brothers & Sisters” on the independent Fierce Panda label before signing with major label
                    Parlaphone.
                    Later that year the band released a successful EP called the Blue Room.</p>
                <p>Coldplay's debut Parachutes in 2000, sold millions and earned the band their first Grammy Award,
                    for best alternative album. "A Rush of Blood to the Head" (2002), earned the group 2 more Awards and
                    it helped drive the band's total album sales over the 20 million mark.</p>
                <p>In the following years, the band achieved great recognition in the music scene, due to their albums
                    "X & Y" and "Viva la Vida", a collection of guitar-driven, rock anthems, that elevated the group to
                    the rank
                    of such “big bands” as U2 and Radiohead.
                </p>
                <p class="band__p">That popularity was reflected at the 2009 in the Grammy Awards, where the band
                    won "song of the year, best rock album,
                    and best pop performance by a group".</p>
                <p> Coldplay returned in 2011 with "Mylo Xyloto", featuring an incredible duet with pop singer Rihanna.
                    Later releases included Ghost Stories in 2014, the upbeat A Head Full of Dreams (2015) and the EP
                    Kaleidoscope (2017).</p>
            </div>
            <picture>
                <img class="band__img" src="../assets/image/band-younger.jpg" alt="foto">
            </picture>
            <div class="band__information">
                <h3>ACTIVISM</h3>
                <p>During the early years, Coldplay became widely known in the media for giving 10 percent of the
                    band's profits to charity, which they continue to do. The band also asks that any gifts intended for
                    them
                    are donated to charity.</p>
                <p> In June 2009, Coldplay began supporting Meat Free Monday, a food campaign lead by Paul
                    McCartney which attempts to help slow climate change by having at least one meat free day a week.
                </p>
                <p> In december 2009, Coldplay auctioned an important quantity of significant band things, including
                    their first guitars. Proceeds went to Kids Company, a charity which helps vulnerable children
                    and young people in London. Currently, Coldplay keep being involves in charity.</p>
                <p class="band__p">"If you were to ask me, after all that we've been through. Still believe in
                    magic? Yes I do, of course I do"</p>
            </div>
            <picture>
                <img class="band__img" src="../assets/image/bandconcert.jpg" alt="foto">
            </picture>
        </article>


        <!--Newsletter-->

        <section class="newsletter container">
            <form class="form container" method="post">
                <div>
                    <picture class="form__img">
                        <img src="../assets/image/logo colplay chico.png" alt="logo">
                    </picture>
                    <p class="form__p">Would you like to subscribe?</p>
                </div>
                <div class="contact__form">
                    <div class="contact__sector">
                        
                        <input type="E-mail" placeholder="Enter your e-mail" class="contact__inside"> <br>
                    </div>
                    <div class="contact__sector">
                        <label class="contact__checkbox"><input type="checkbox" id="confirmation" value="I accept to receive
                more information"> I accept to receive e-mails</label><br>
                    </div>
                    <div class="form__button">
                        <button type="submit" class="button_letter">Send</button>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <!--Main end-->

    <!--Footer start-->

    <footer class="footer">
        <div class="footer__socialmedia container">
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Gisel Cuenca 2022</p>
        </div>
    </footer>

    <!-- Footer end-->

</body>

</html>