<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The official Coldplay fan website where you can find Information about the band, formation, life members, photos and music evolution">
    <meta name="keywords"
        content="about,coldplay, band, information, members, creation, history, formation, photos, videos, music, evolution, musicians, band, Chris Martin, Guy Burryman, Jon Buckland, Will Champion">
    <link rel="shortcut icon" href="../assets/image/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">

    <title>About | Coldplay - information</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item--active">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="albums.html" class="menu__link">Albums</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="gallery.html" class="menu__link">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--Fin del header-->
    <!--Inicio de main-->

    <main>
        <section>
            <div></div>
            <picture class="banner">
                <img src="../assets/image/galeria10.jpg" class="banner__img" alt="foto de banda">
            </picture>
        </section>

        <section class="section container">
            <article class="section__description">
                <div class="section__container">
                    <h1>About Coldplay</h1>
                    <p>Formed in 1996 at University College London, the foursome of Chris Martin, Jonny Buckland, Guy
                        Berryman and Will Champion shot to superstardom in record time. Recording music while balancing
                        their studies, they released their debut EP Safety in 1998, landing them a show at Glastonbury
                        that same year. Soon after they began gaining mainstream with their second EP, The Blue
                        Room, a project that landed them a 5-album record deal with Parlophone.</p>
                </div>
            </article>
            <picture class="section__picture">
                <img class="section__img" src="../assets/image/photoband.jpg" alt="foto">
            </picture>
        </section>


        <section>
            <div class="members container">
                <div class="members__info">
                    <div class="members__profile">
                        <img src="../assets/image/member1.png" alt="chrismartin" class="members__img">
                        <div>
                            <h2 class="members__name">Chris Martin</h2>
                        </div>
                        <div class="members__p">
                            <p>Pianist - Vocalist</p>
                        </div>
                    </div>
                    <div class="members__profile">
                        <img src="../assets/image/member2.png" alt="Guy berryman" class="members__img">
                        <div>
                            <h2 class="members__name">Guy Berryman</h2>
                        </div>
                        <div class="members__p">
                            <p>Bass - Vocalist </p>
                        </div>
                    </div>
                    <div class="members__profile">
                        <img src="../assets/image/member3.png" alt="Will Champion" class="members__img">
                        <div>
                            <h2 class="members__name">Will Champion</h2>
                        </div>
                        <div class="members__p">
                            <p>Drums - Vocalist</p>
                        </div>
                    </div>
                    <div class="members__profile">
                        <img src="../assets/image/member4.png" alt="Jonny Buckland" class="members__img">
                        <div>
                            <h2 class="members__name">Jonny Buckland</h2>
                        </div>
                        <div class="members__p">
                            <p>Guitarist</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section container">
            <article class="section__description">
                <div class="section__container">
                    <h3>Music evolution</h3>
                    <p>Coldplay’s full-length debut Parachutes (2000) sold millions on the strength of Martin’s vocals
                        and such singles as the bittersweet “Yellow.” Parachutes earned the band its first Grammy Award,
                        for best alternative album, and paved the way for the more ambitious A Rush of Blood to the Head
                        (2002). The latter album earned the group two more Grammy Awards, and singles such as “Clocks”
                        helped drive the band’s total album sales over the 20 million mark. Coldplay followed the
                        concert album Live 2003 (2003) with X & Y (2005), a collection of guitar-driven, arena-friendly
                        rock anthems (like the hit “Speed of Sound”) that elevated the group to the rank of
                        such “big bands” as U2 and Radiohead.</p>
                </div>
            </article>
            <picture class="section__picture">
                <img class="section__img" src="../assets/image/photoconcert.jpg" alt="foto">
            </picture>
        </section>
        <section class="section container">
            <picture class="section__picture">
                <img class="section__img" src="../assets/image/photoband2.jpg" alt="fotocd">
            </picture>
            <article class="section__description">
                <div class="section__container">
                    <p>The band’s 2008 release, Viva la Vida, topped the charts in the USA and the UK, and the album’s
                        title track was the number one single on both sides of the Atlantic.
                        That popularity was reflected at the 2009 in the
                        Grammy Awards, where the band won "song of the year, best rock album,
                        and best pop performance by a group". Coldplay returned with the sleek
                        Mylo Xyloto (2011), featuring a duet with pop singer Rihanna. Later releases
                        included the subdued Ghost Stories (2014), which yielded the hit singles “Magic” and “A
                        Sky Full of Stars”; the upbeat A Head Full of Dreams (2015); and the EP Kaleidoscope (2017). To
                        mark the release of Everyday Life (2019), Coldplay performed two live-streamed concerts, one at
                        sunrise and the other at sunset, in Amman, Jordan. It was the band’s eighth album to reach the
                        top spot on charts.</p>
                </div>

            </article>
        </section>
        <section class="newsletter container">

            <form class="form container" method="post">
                <div>
                    <picture class="form__img">
                        <img src="../assets/image/coldplay-logo-.png" alt="logo" width="350px">
                    </picture>
                    <p class="form__p">Would you like to get more information?</p>
                </div>

                <div class="contact__form">
                    <div class="contact__sector">
                        <label for="E-mail" class="contact__input">Enter your e-mail</label> <br>
                        <input type="E-mail" placeholder="E-mail" class="contact__inside"> <br>
                    </div>
                    <div class="contact__sector">
                        <label class="contact__checkbox"><input type="checkbox" id="confirmation" value="I accept to receive
                more information"> I accept to receive more information</label><br>
                    </div>
                    <div class="form__button">
                        <button type="submit" class="button_letter">Send</button>
                    </div>
                </div>
        </section>
        </form>


    </main>

    <!--Fin de main-->
    <!--Inicio de footer-->

    <footer class="footer">
        <div class="footer__socialmedia container">
            <h3 class="footer__tittle">Follow Coldplay</h3>
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Coldplay 2022. </p>
        </div>
    </footer>

    <!-- Fin de footer-->

</body>

</html>