<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The official Coldplay fan website where you can find Information about the band, formation, life members, photos and music evolution">
    <meta name="keywords"
        content="about,coldplay, band, information, members, creation, history, formation, photos, videos, music, evolution, musicians, band, Chris Martin, Guy Burryman, Jon Buckland, Will Champion">
    <link rel="shortcut icon" href="../assets/image/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">

    <title>About | Coldplay - information</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item--active">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="media.html" class="menu__link">Media</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="Contact.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--Fin del header-->
    <!--Inicio de main-->

    <main>
        <section>
            <div></div>
            <picture class="banner">
                <img src="../assets/image/galeria10.jpg" class="banner__img" alt="foto de banda">
            </picture>
        </section>

        <section class="section container">
            <article class="section__description">
                <div class="section__container">
                    <h1>About Coldplay</h1>
                    <p>Coldplay, are an English alternative rock band, formed in London in 1996-1997. Chris Martin, the lead singer and frontman of the band, and Jonny Buckland,the lead guitarist,
                        were
                        looking forward to form a band while at University College London. After forming Pectoralz, Guy
                        Berryman joined the group as a bassist and they changed their name to Starfish. Will Champion
                        joined
                        as a drummer and backup vocalist, making the band's lineup complete. The band finally changed their name to "Coldplay" in 1998. </p>
                </div>
            </article>
            <picture class="section__picture">
                <img class="section__img" src="../assets/image/galeria8.png" alt="foto">
            </picture>
        </section>


        <section>
            <div class="members container">
                <div>
                    <h2 class="members__tittle">Members</h2>
                </div>
                <div class="members__info">
                    <div class="members__profile">
                        <img src="../assets/image/member1.png" alt="chrismartin" class="members__img">
                        <div>
                            <h3 class="members__name">Chris Martin</h3>
                        </div>
                        <div class="members__p">
                            <p>Pianist - Vocalist</p>
                            <p>March 2, 1977 - U.K</p>
                        </div>
                    </div>
                    <div class="members__profile">
                        <img src="../assets/image/member2.png" alt="Guy berryman" class="members__img">
                        <div>
                            <h3 class="members__name">Guy Berryman</h3>
                        </div>
                        <div class="members__p">
                            <p>Bass - Vocalist </p>
                            <p>April 12, 1978 - U.K</p>
                        </div>
                    </div>
                    <div class="members__profile">
                        <img src="../assets/image/member3.png" alt="Will Champion" class="members__img">
                        <div>
                            <h3 class="members__name">Will Champion</h3>
                        </div>
                        <div class="members__p">
                            <p>Drums - Vocalist</p>
                            <p>July 31, 1978 - U.K</p>
                        </div>
                    </div>
                    <div class="members__profile">
                        <img src="../assets/image/member4.png" alt="Jonny Buckland" class="members__img">
                        <div>
                            <h3 class="members__name">Jonny Buckland</h3>
                        </div>
                        <div class="members__p">
                            <p>Guitarist</p>
                            <p>September 11, 1977 - U.K</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!--Fin de main-->
    <!--Inicio de footer-->

    <footer class="footer">
        <div class="footer__socialmedia container">
            <h3 class="footer__tittle">Follow Coldplay</h3>
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Coldplay 2022. </p>
        </div>
    </footer>

    <!-- Fin de footer-->

</body>

</html>