<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official Coldplay fan website where you can find all coldplay´s albums">
    <meta name="keywords"
        content="Music, Coldplay, band,  Pop, Rock, Alternative, listen, collaborations, albums, playlists, Spotify,  Music of the spheres, X&Y, Parachutes, Viva la vida, Everyday life, Ghost Stories, A head full of dreams, Mylo Xyloto, Kaleidoscope">
    <link rel="shortcut icon" href="../assets/image/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <title>Albums | Coldplay's Music</title>
</head>

<body>

    <!--Header start-->

    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <label for="hambur" class="navbar__label">
                <img src="../assets/image/hambur-png.png" alt="hambur" height="80px" class="hambur__img">
            </label>
            <input type="checkbox" id="hambur" class="navbar__input">
            <ul class="navbar__menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item--active">
                    <a href="albums.html" class="menu__link">Albums</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="gallery.html" class="menu__link">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--Header end-->

    <!--Main start-->

    <main>
        <!--In order to avoid the creation of a similar class for the title and the text, i recalled classes from the page name "about"-->

        <article class="band container">
            <div class="band__information">
                <h1>Albums</h1>
                <p class="band__p">Listen and enjoy Coldplay's music </p>
            </div>
        </article>

        <!--Albums playlists-->

        <section class="playlist container">

            <div class="playlist__a">
                <h2 class="playlist__h2">Music of the Spheres</h2>
                <p class="playlist__p">2021</p>
                <iframe class="media_playlist" style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/06mXfvDsRZNfnsGZvX2zpb?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">Everyday Life</h2>
                <p class="playlist__p">2019</p>
                <iframe class="media__playlist" style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/2FeyIYDDAQqcOJKOKhvHdr?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">Live in Buenos Aires</h2>
                <p class="playlist__p">2018</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/19CvkGjYpifkdwgVJSbog2?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">A head full of dreams</h2>
                <p class="playlist__p">2015</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/3cfAM8b8KqJRoIzt3zLKqw?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">Ghost Stories live</h2>
                <p class="playlist__p">2014</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/1hNS0RsxPTFjmKXCgmjSLS?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">Ghost Stories</h2>
                <p class="playlist__p">2014</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/2G4AUqfwxcV1UdQjm2ouYr?utm_source=generator&theme=0"
                    width="100%" height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">Mylo Xyloto</h2>
                <p class="playlist__p">2011</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/2R7iJz5uaHjLEVnMkloO18?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">LeftRightLeftRight live</h2>
                <p class="playlist__p">2009</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/3pboBm7GTa6V5dFXXCt52b?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">Viva la vida</h2>
                <p class="playlist__p">2008</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/1CEODgTmTwLyabvwd7HBty?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">X&Y</h2>
                <p class="playlist__p">2005</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/4E7bV0pzG0LciBSWTszra6?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">A rush of blood to the head</h2>
                <p class="playlist__p">2002</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/0RHX9XECH8IVI3LNgWDpmQ?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

            <div class="playlist__a">
                <h2 class="playlist__h2">Parachutes</h2>
                <p class="playlist__p">2000</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/6ZG5lRT77aJ3btmArcykra?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>

        </section>
    </main>

    <!--Main end-->

    <!--Footer start-->

    <footer class="footer">
        <div class="footer__socialmedia container">
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Gisel Cuenca 2022</p>
        </div>
    </footer>
    <!-- Footer end-->
</body>

</html>