<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official Coldplay fan website where you can find all coldplay´s discography">
    <meta name="keywords"
        content="Music, Coldplay, band,  Pop, Rock, Alternative, listen, collaborations, albums, playlists, Spotify,  Music of the spheres, X&Y, Parachutes, Viva la vida, Everyday life, Ghost Stories, A head full of dreams, Mylo Xyloto, Kaleidoscope">
    <link rel="shortcut icon" href="../assets/image/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">

    <title>Albums | Coldplay - Music</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item--active">
                    <a href="albums.html" class="menu__link">Albums</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="gallery.html" class="menu__link">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Fin del header-->
    <!--Inicio de main-->
    <main>
        <article class="section__description container">
            <div class="section__container">
                <h1>Discography</h1>
            </div>
        </article>

        <section class="playlist container">
            <div class="playlist__a">
                <h2 class="playlist__h2">Music of the Spheres</h2>
                <p class="playlist__p">2021</p>
                <iframe class="media_playlist" style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/06mXfvDsRZNfnsGZvX2zpb?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="playlist__a">
                <h2 class="playlist__h2">Everyday Life</h2>
                <p class="playlist__p">2019</p>
                <iframe class="media__playlist" style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/2FeyIYDDAQqcOJKOKhvHdr?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="playlist__a">
                <h2 class="playlist__h2">A head full of dreams</h2>
                <p class="playlist__p">2015</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/3cfAM8b8KqJRoIzt3zLKqw?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="playlist__a">
                <h2 class="playlist__h2">Ghost Stories</h2>
                <p class="playlist__p">2014</p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/2G4AUqfwxcV1UdQjm2ouYr?utm_source=generator&theme=0"
                    width="100%" height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </section>
    </main>

    <!--Fin de main-->
    <!--Inicio de footer-->
    <footer class="footer">
        <div class="footer__socialmedia container">
            <h3 class="footer__tittle">Follow Coldplay</h3>
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Coldplay 2022. </p>
        </div>
    </footer>
    <!-- Fin de footer-->
</body>

</html>