<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The official Coldplay fan website where you can find Information about tour dates, locations and redirecting links to get tickets.">
    <meta name="keywords"
        content="Coldplay, tour, dates, locations, tickets, concerts, live, band, musicians, band, Chris Martin, Guy Burryman, Jon Buckland, Will Champion">
    <link rel="shortcut icon" href="../assets/image/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">

    <title>World Tour| Coldplay's tour dates</title>
</head>

<body>

    <!--Header start-->

    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <label for="hambur" class="navbar__label">
                <img src="../assets/image/hambur.png" alt="hambur" class="hambur__img">
            </label>
            <input type="checkbox" id="hambur" class="navbar__input">
            <ul class="navbar__menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="albums.html" class="menu__link">Albums</a>
                </li>
                <li class="menu__item--active">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="gallery.html" class="menu__link">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--Header end-->

    <!--Main start-->

    <main>

        <!--Banner-->

        <section>
            <picture class="banner">
                <img src="../assets/image/tour.png" class="banner__img" alt="tour band">
            </picture>
        </section>

        <!--tittle-->

        <article class="tourtittle container">
            <h1 class="tourtittle__h1">World Tour</h1>
            <p class="tourtittle__p">Get your tickets now!</p>
        </article>

        <!--Tour information-->

        <section>
            <div class="table container">
                <table class="table" cellpadding="10px" cellspacing="5px">
                    <tr>
                        <th class="table__tittle">Date</th>
                        <th class="table__tittle">Location</th>
                        <th class="table__tittle">Tickets</th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">6th Jun</th>
                        <th class="table__dates">Fedexfield - USA</th>
                        <th class="table__dates">
                            <a href="https://www.ticketmaster.com/event/15005B4BE7254B09"
                                class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">12th Jun</th>
                        <th class="table__dates">Metlife Stadium - USA</th>
                        <th class="table__dates">
                            <a href="https://www.ticketmaster.com/event/15005B4BE7254B09"
                                class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">20th Jun</th>
                        <th class="table__dates">Metlife Stadium - USA</th>
                        <th class="table__dates">
                            <a href="https://www.ticketmaster.com/event/15005B4BE7254B09"
                                class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">2th Jul</th>
                        <th class="table__dates">Deustche Bank Park - GER</th>
                        <th class="table__dates">
                            <a href="https://www.ticketmaster.de/coldplay-deutsche-bank-park-vormals-commerzbankarena-frankfurt-am-main/venueartist/19571/10139?"
                                class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">7th Jul</th>
                        <th class="table__dates">Stade de France - France</th>
                        <th class="table__dates">
                            <a href="https://www.livenation.fr/artist-coldplay-8720?omq=coldplay"
                                class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">10th Jul</th>
                        <th class="table__dates">Stade de France - France</th>
                        <th class="table__dates">
                            <a href="https://www.livenation.fr/artist-coldplay-8720?omq=coldplay"
                                class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">14th Aug</th>
                        <th class="table__dates">King Baudouin - Belgium</th>
                        <th class="table__dates">
                            <a href="https://teleticket.com.pe/coldplay2022ln" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">16th Aug</th>
                        <th class="table__dates">Wembley Stadium - U.K</th>
                        <th class="table__dates">
                            <a href="https://teleticket.com.pe/coldplay2022ln" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">18th Aug</th>
                        <th class="table__dates">Wembley Stadium - U.K</th>
                        <th class="table__dates">
                            <a href="https://teleticket.com.pe/coldplay2022ln" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">19th Aug</th>
                        <th class="table__dates">Wembley Stadium - U.K</th>
                        <th class="table__dates">
                            <a href="https://teleticket.com.pe/coldplay2022ln" class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">20th Aug</th>
                        <th class="table__dates">Wembley Stadium - U.K</th>
                        <th class="table__dates">
                            <a href="https://teleticket.com.pe/coldplay2022ln" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">14th Sep</th>
                        <th class="table__dates">Nacional Stadium - Peru</th>
                        <th class="table__dates">
                            <a href="https://teleticket.com.pe/coldplay2022ln" class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">21th Sep</th>
                        <th class="table__dates">Nacional Stadium - Chile</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">23th Sep</th>
                        <th class="table__dates">Nacional Stadium - Chile</th>
                        <th class="table__dates">
                            <a href="https://www.puntoticket.com/coldplay" class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">24th Sep</th>
                        <th class="table__dates">Nacional Stadium - Chile</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">11th Oct</th>
                        <th class="table__dates">Nilton stadium - Brazil</th>
                        <th class="table__dates">
                            <a href="https://www.eventim.com.br/artist/coldplay/" class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">15th Oct</th>
                        <th class="table__dates">Allianz Parque - Brazil</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">16th Oct</th>
                        <th class="table__dates">Allianz Parque - Brazil</th>
                        <th class="table__dates">
                            <a href="#" class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">25th Oct</th>
                        <th class="table__dates">Unico stadium - ARG</th>
                        <th class="table__dates">
                            <a href="#" class="table__button">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">26th Oct</th>
                        <th class="table__dates">Unico stadium - ARG</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">28th Oct</th>
                        <th class="table__dates">Unico stadium - ARG</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">29th Oct</th>
                        <th class="table__dates">Unico stadium - ARG</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Tickets</a>
                        </th>
                    </tr>
                </table>
            </div>
        </section>
    </main>

    <!--Main end-->

    <!--Footer start-->

    <footer class="footer">
        <div class="footer__socialmedia container">
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Gisel Cuenca 2022 </p>
        </div>
    </footer>

    <!-- Footer end-->
    
</body>

</html>