<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The official Coldplay fan website where you can find Information about tour dates, locations and tickets.">
    <meta name="keywords"
        content="Coldplay, tour, dates, locations, tickets, concerts, live, band, musicians, band, Chris Martin, Guy Burryman, Jon Buckland, Will Champion">
    <link rel="shortcut icon" href="../assets/image/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">

    <title>Tour | Coldplay - Tour dates</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="albums.html" class="menu__link">Albums</a>
                </li>
                <li class="menu__item--active">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="gallery.html" class="menu__link">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Fin del header-->
    <!--Inicio de main-->
    <main>
        <section>
            <picture class="banner">
                <img src="../assets/image/tour.png" class="banner__img" alt="foto de banda">
            </picture>
        </section>
        <article class="section__description container">
            <div class="section__container">
                <h1>TOUR DATES 2022</h1>
                <h2>Go get your tickets now!</h2>
            </div>
        </article>
        <section>
            <div class="table container">
                <table class="table" cellpadding="10px" cellspacing="5px">
                    <tr>
                        <th class="table__tittle">Date</th>
                        <th class="table__tittle">Location</th>
                        <th class="table__tittle">Tickets</th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">21th Sep</th>
                        <th class="table__dates">Nacional Stadium - Chile</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Sold out</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">23th Sep</th>
                        <th class="table__dates">Nacional Stadium - Chile</th>
                        <th class="table__dates">
                            <a href="https://www.puntoticket.com/coldplay" class="table__button">Get tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">24th Sep</th>
                        <th class="table__dates">Nacional Stadium - Chile</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Sold out</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">11th Oct</th>
                        <th class="table__dates">Nilton stadium - Brazil</th>
                        <th class="table__dates">
                            <a href="https://www.eventim.com.br/artist/coldplay/" class="table__button">Get tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">15th Oct</th>
                        <th class="table__dates">Allianz Parque - Brazil</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Sold out</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">16th Oct</th>
                        <th class="table__dates">Allianz Parque - Brazil</th>
                        <th class="table__dates">
                            <a href="#" class="table__button">Get tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">25th Oct</th>
                        <th class="table__dates">River Plate stadium - Argentina</th>
                        <th class="table__dates">
                            <a href="#" class="table__button">Get tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">26th Oct</th>
                        <th class="table__dates">River Plate stadium - Argentina</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Sold out</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">28th Oct</th>
                        <th class="table__dates">River Plate stadium - Argentina</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Sold out</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">29th Oct</th>
                        <th class="table__dates">River Plate stadium - Argentina</th>
                        <th class="table__dates">
                            <a href="#" class="table__buttonsoldout">Sold out</a>
                        </th>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <!--Fin de main-->
    <!--Inicio de footer-->
    <footer class="footer">
        <div class="footer__socialmedia container">
            <h3 class="footer__tittle">Follow Coldplay</h3>
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Coldplay 2022. </p>
        </div>
    </footer>
    <!-- Fin de footer-->
</body>

</html>