/*FOOTER*/

.footer {
    @include flex(column, space-between, center, 0, wrap);
    min-height: 15vh;
    padding: map-get($paddings, xsmall);
    background-image: linear-gradient(to bottom, blueviolet, rgb(68, 0, 255));

    &__socialmedia {
        @include flex(row, space-between, center, wrap);
        flex-basis: 40%;

        img {
            width: 100%;
            padding: 2rem;
        }

        .footer__icon {
            padding: map-get($paddings, medium);
            min-width: 20%;
        }
    }

    .copyright__text {
        font-size: 1.8em;
        font-weight: lighter;
    }

}


/*MEDIA QUERY FOOTER*/

@media screen and (max-width:770px) {

    .footer {
        .footer__socialmedia {
            justify-content: space-around;
            flex-basis: 30%;

            img {
                height: 48px;
                padding: .8rem;
            }
        }

        .copyright__text {
            font-size: 1.5em;
            padding: 1rem;
        }
    }
}