/*HEADER*/

header .navbar {
    min-height: 10vh;
    @include flex(row, space-between, center, 0,wrap);
    padding: map-get($paddings, medium);

    .logo {
        flex-basis: 30%;

        &__img {
            width: 100%;
            min-width: 200px;
        }
    }

    .menu {
        flex-basis: 50%;
        @include flex(row, space-between, center, 2rem, nowrap);
        font-size: 1.3em;

        .menu__item {
            border: none;

            &--active {
                @extend .menu__item;
                color: blueviolet;
                border-bottom: .2rem solid blueviolet;
            }

            .menu__link {
                font-size: $text-md;
                padding: map-get($paddings, xsmall);
            }
        }
    }
}

/*MEDIA QUERY HEADER*/

@media screen and (max-width:1024px) {
    body {
        padding: 0;
    }

    header {
        padding: 2em;

        .navbar {
            justify-content: center;
            flex-direction: column;
        }

        .menu {
            font-size: 1em;
        }
    }
}