/*HEADER*/

header .navbar {
    min-height: 10vh;
    @include flex(row, space-between, center, 0, wrap);
    padding: map-get($paddings, medium);

    .navbar__logo {
        flex-basis: 30%;

        .logo__img {
            width: 100%;
            min-width: 200px;
        }
    }

    .navbar__label {
        display: none;
    }

    .navbar__input {
        display: none;
    }

    .navbar__input:checked+.navbar__menu {
        background-color: none;
    }

    .navbar__menu {
        flex-basis: 50%;
        @include flex(row, space-between, center, .5rem, nowrap);
        font-size: 1.3em;
        text-align: center;
        transition: all .5s;

        .menu__item {
            border: none;

            &--active {
                @extend .menu__item;
                color: blueviolet;
                border-bottom: .2rem solid blueviolet;
            }

            .menu__link {
                font-size: $text-md;
                padding: map-get($paddings, xsmall);
            }
        }
    }
}

/*MEDIA QUERY HEADER*/

@media screen and (max-width: 770px) {
    
    header .navbar {
         .navbar__logo {
        flex-basis: 50%;

        .logo__img {
            width: 100%;
            min-width: 200px;
        }
    }
        .navbar__label {
            display: block;
            cursor: pointer;
        }

        .navbar__menu {
            position: fixed;
            top: 100px;
            bottom: 0;
            width: 100%;
            left: 0;
            @include flex(column, space-evenly, center, 0, nowrap);
            clip-path: circle(0 at center);
            transition: clip-path 3s easy-in-out;
        }

        .navbar__input:checked+.navbar__menu {
            background-color: rgb(25, 6, 43);
            clip-path: circle(100% at center);
        }

    }
}