<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

    <title>Coldplay</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="media.html" class="menu__link">Media</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="Contact.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Fin del header-->
    <!--Inicio de main-->
    <main>
        <section class="container flex-column">
            <picture class="banner">
                <img src="../assets/image/imagencoldplay3.jpg" class="banner__img" alt="foto de banda">
            </picture>
        </section>
        <section class="contact section container">
            <article class="section__description ">
                <div class="section__container">
                    <h1>Get in touch</h1>
                    <h2 class="contact__h2">Get in touch with Coldplay</h2>
                    <p class="contact__p">Fill in the form below to get started</p>
                </div>
            </article>
        </section>
        <form class="form container flex-row" method="post">
            <div class="contact__form">
                <div class="form__sector">
                    <label for="Enter your name" class="contact__input">Enter your name</label> <br>
                    <input type="Enter your name" placeholder="Enter your name" class="contact__inside"> <br>
                </div>
                <div class="form__sector">
                    <label for="E-mail" class="contact__input">E-mail</label> <br>
                    <input type="E-mail" placeholder="E-mail" class="contact__inside"> <br>
                </div>
                <div class="form__sector">
                    <label class="contact__checkbox"><input type="checkbox" id="confirmation" value="I accept to receive
                more information"> I accept to receive more information</label><br>
                </div>
                <div class="form__button">
                    <button type="submit" class="button_letter">Send</button>
                </div>

            </div>
        </form>
    </main>
    <!--Fin de main-->
    <!--Inicio de footer-->
    <footer class="footer flex-row">
        <div class="footer__socialmedia flex-row container">
            <h3 class="footer__tittle">Follow Coldplay</h3>
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Coldplay 2022. </p>
        </div>
    </footer>
    <!-- Fin de footer-->
</body>

</html>