<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

    <title>Coldplay</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="media.html" class="menu__link">Media</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="Contact.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Fin del header-->
    <!--Inicio de main-->
    <main>
        <section class="container flex-row">
            <picture class="banner">
                <img src="../assets/image/tour.png" class="banner__img" alt="foto de banda">
            </picture>
        </section>
        <section class="section container">
            <article class="section__description ">
                <div class="section__container">
                    <h1>Tour dates 2022</h1>

                </div>
            </article>
        </section>
        <section>
            <div class="table container flex-column">
                <div>
                    <h2 class="table__info">Get your tickets now</h2>
                </div>
                <table class="table" cellpadding="10px" cellspacing="5px">
                    <tr>
                        <th class="table__tittle">Date</th>
                        <th class="table__tittle">Location</th>
                        <th class="table__tittle">Tickets</th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">25th- Oct, 2022</th>
                        <th class="table__dates">Estadio River Plate - Argentina</th>
                        <th class="table__dates">
                            <a href="#">Get tickets</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">26th- Oct, 2022</th>
                        <th class="table__dates">Estadio River Plate - Argentina</th>
                        <th class="table__dates">
                            <a href="#">Sold out</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">28th- Oct, 2022</th>
                        <th class="table__dates">Estadio River Plate - Argentina</th>
                        <th class="table__dates">
                            <a href="#">Sold out</a>
                        </th>
                    </tr>
                    <tr class="table__date">
                        <th class="table__dates">29th- Oct, 2022</th>
                        <th class="table__dates">Estadio River Plate - Argentina</th>
                        <th class="table__dates">
                            <a href="#">Sold out</a>
                        </th>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <!--Fin de main-->
    <!--Inicio de footer-->
    <footer class="footer flex-row">
        <div class="footer__socialmedia flex-row container">
            <h3 class="footer__tittle">Follow Coldplay</h3>
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank" class="footer_icon"> <img
                    src="../assets/image/y.png" alt="Youtube"></a>
            <a href="https://twitter.com/coldplay?s=20&t=K_DyV9EXTVVPDTHONQ2llg" target="_blank" class="footer_icon">
                <img src="../assets/image/t.png" alt="Twitter"></a>
        </div>
        <div class="copyright container">
            <p class="copyright__text">Copyright © Coldplay 2022. </p>
        </div>
    </footer>
    <!-- Fin de footer-->
</body>

</html>