/*ABOUT*/

.members {
    @include flex(row, space-between, center, 1rem, nowrap);
    background-color: map-get($background-color, lightblack);
    padding-top: map-get($paddings, xlarge);
    padding-bottom: map-get($paddings, xxlarge);

    &__tittle {
        font-size: 3em;
        font-family: $font-primary;
        color: blueviolet;
        padding-bottom: map-get($paddings, xlarge);
    }

    &__info {
        @include flex(row, space-between, center, 0, nowrap);
        padding-bottom: map-get($paddings, large);


        .members__profile {
            align-items: center;
            text-align: center;
            flex-basis: 20%;

            .members__img {
                width: 90%;
                min-width: 50%;
                padding: .2rem;
                background-color: map-get($background-color, lightpink);
                border-radius: 10rem;
                transition: .6s ease-in;

                &:hover {
                    transform: rotate(1turn) scale(1.1, 1.1);
                }
            }

            .members__name {
                font-size: 2.5em;
                color: blueviolet;
                padding-top: map-get($paddings, medium);
                padding-bottom: map-get($paddings, xsmall);
            }

            .members__p {
                font-size: 1.5em;
            }
        }
    }
}

.newsletter {
    @include flex(column, space-around, center, 2rem, nowrap);
    padding: map-get($paddings, large);

    .form {
        background-color: map-get($background-color, lightgrey);
        border-radius: 4rem;
        padding: map-get($paddings, xlarge);
        align-items: center;

        &__img {
            width: 100%;
            min-width: 360px;
            flex-basis: 30%;
        }

        &__p {
            font-size: 2em;
            padding: map-get($paddings, xsmall);
        }

        .contact__form {
            width: 100%;
            padding: map-get($paddings, xsmall);

            .contact__sector {
                padding-bottom: map-get($paddings, medium);

                .contact__input {
                    font-size: 2em;
                }

                .contact__inside {
                    text-align: left;
                    font-size: 1.8em;
                    padding: map-get($paddings, xsmall);
                }

                .contact__checkbox {
                    font-size: 1.8rem;
                }
            }

            .form__button {
                font-size: 3em;

                .button_letter {
                    color: $principal;
                    background-color: map-get($background-color, blueviolet);
                    padding: 1rem 9rem;
                    border-radius: 1.2rem;
                    font-size: 2rem;
                }
            }
        }
    }
}


/*MEDIA QUERY ABOUT*/

@media screen and (max-width:1024px) {
    .members {
        flex-wrap: wrap;
        padding: map-get($paddings, small);

        &__name {
            font-size: .5em;
        }

        &__p {
            font-size: 1.6em;
        }
    }

    .form {
        padding: map-get($paddings, large);
        padding-bottom: map-get($paddings, large);
    }
}