/*ABOUT*/

/*Coldplay information*/

.band {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    background-color: map-get($background-color, lightblack);

    &__information {
        margin: 2rem;

        h1 {
            @include tittles-texts ($font-style: normal, $font-size:5em, $font-weight: lighter, $letter-spacing: 1rem, $text-align:center);
            font-family: $font-secondary;
            color: blueviolet;
            margin: 2rem;
        }

        .band__p {
            @include tittles-texts ($font-style: normal, $font-size:2.2em, $letter-spacing: 0.1rem, $text-align:center);
            color: rgb(223, 193, 223);
            padding-top: map-get($paddings, large);
            padding-bottom: map-get($paddings, large);
            padding-left: map-get($paddings, xxxlarge);
            padding-right: map-get($paddings, xxxlarge);
        }

        p {
            @include tittles-texts ($font-style: normal, $font-size:1.8em, $letter-spacing: 0.1rem, $text-align:justify);
            padding-left: map-get($paddings, xxxlarge);
            padding-right: map-get($paddings, xxxlarge);
            padding-bottom: map-get($paddings, small);
        }

        h3 {
            @include tittles-texts ($font-style:normal, $font-size:3em, $letter-spacing: 0.3rem, $text-align:center);
            color: rgb(223, 193, 223);
            font-weight: bolder;
            padding-bottom: map-get($paddings, xxlarge);
        }
    }

    &__img {
        width: 100%;
        min-width: 360px;
        padding-left: 8rem;
        padding-right: 8rem;
        padding-top: map-get($paddings, large);
        padding-bottom: map-get($paddings, large);
    }
}

/*Members presentation*/

.members {
    padding-top: map-get($paddings, large);
    padding-bottom: map-get($paddings, xlarge);

    &__tittle {
        @include tittles-texts ($font-style: normal, $font-size:3em, $font-weight:bold, $letter-spacing: 0.5rem, $text-align:justify);
        color: white;
        padding: map-get($paddings, xlarge);
        justify-content: center;
        text-align: center;
    }

    &__presentation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (3, 1fr);
        justify-content: center;
        gap: 10rem;
        padding: map-get($paddings, xxxlarge);
        background-color: rgba(27, 27, 88, 0.902);
        border-radius: 2rem;

        .members__information {
            @include flex(column, space-between, center, 3rem, wrap);

            .members__img {
                width: 80%;
                min-width: 360px;
                padding: map-get($paddings, large);
                transition: .6s ease-in-out;

                &:hover {
                    transform: rotate(1turn) scale(1.1, 1.1);
                }
            }

            .members__name {
                @include tittles-texts ($font-style: normal, $font-size:3em, $font-weight:bold, $letter-spacing: 0.2rem, $text-align:justify);
                color: white;
            }

            .members__description {
                @include tittles-texts ($font-style: normal, $font-size:1.6em, $letter-spacing: 0.1rem, $text-align:justify);
                padding: map-get($paddings, xsmall);
            }
        }
    }
}

.newsletter {
    @include flex(column, space-around, center, 2rem, nowrap);
    padding: map-get($paddings, large);

    .form {
        background-color: map-get($background-color, lightgrey);
        border-radius: 3rem;
        padding: map-get($paddings, xlarge);
        align-items: center;

        &__img {
            width: 100%;
            min-width: 360px;
            flex-basis: 30%;
        }

        &__p {
            font-size: 1.8em;
            padding: map-get($paddings, xsmall);
        }

        .contact__form {
            width: 100%;
            padding: map-get($paddings, xsmall);

            .contact__sector {
                padding-bottom: map-get($paddings, medium);

                .contact__input {
                    font-size: 1.8em;
                }

                .contact__inside {
                    text-align: left;
                    font-size: 1.8em;
                    padding: map-get($paddings, xsmall);
                }

                .contact__checkbox {
                    font-size: 1.8rem;
                }
            }

            .form__button {

                .button_letter {
                    color: $principal;
                    background-color: map-get($background-color, blueviolet);
                    padding: 1rem 9rem;
                    border-radius: 1.2rem;
                    font-size: 1.8rem;
                }
            }
        }
    }
}


/*MEDIA QUERY ABOUT*/

@media screen and (max-width:720px) {

    /*Media query for band information*/

    .band {
        &__information {
            h1 {
                @include tittles-texts ($font-size:4em, $letter-spacing: 1rem, $text-align:center);
            }

            .band__p {
                @include tittles-texts ($font-size:2em, $letter-spacing: 0.1rem, $text-align:center);
                padding-top: map-get($paddings, large);
                padding-bottom: map-get($paddings, large);
                padding-left: map-get($paddings, large);
                padding-right: map-get($paddings, large);
            }

            p {
                @include tittles-texts ($font-size:1.6em, $letter-spacing: 0.1rem, $text-align:justify);
                padding-left: map-get($paddings, large);
                padding-right: map-get($paddings, large);
                padding-bottom: map-get($paddings, small);
            }

            h3 {
                padding-bottom: map-get($paddings, large);
            }
        }

        &__img {
            padding-left: map-get($paddings, xlarge);
            padding-right: map-get($paddings, xlarge);
            padding-top: map-get($paddings, medium);
            padding-bottom: map-get($paddings, medium);
        }
    }

    /*Media query for members presentation*/

    .members {


        &__presentation {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            gap: 2rem;
            padding: map-get($paddings, medium);

            .members__information {

                .members__description {
                    font-size: 1.6em;
                    padding: map-get($paddings, large);
                }
            }
        }
    }

    /*Media query for newsletter*/

    .newsletter {
        .form {
            padding: map-get($paddings, large);
            padding-bottom: map-get($paddings, large);
        }
    }
}