/*ALBUMS*/

.playlist {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 4rem;
    padding: map-get($paddings, small);
    padding-bottom: map-get($paddings, xxxlarge);
    background-color: map-get($background-color, lightblack);
    border-radius: 2rem;


    &__h2 {
        font-size: 2.2em;
        padding-top: map-get($paddings, large);
        padding-bottom: map-get($paddings, small);
        color: white;
    }

    &__p {
        font-size: 2em;
        padding-bottom: map-get($paddings, small);
    }
}

/*MEDIA QUERY MEDIA*/

@media screen and (max-width:1024px) {

    .playlist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;

    }
}

@media screen and (max-width:720px) {
    .band {
        &__information {
            h1 {
                @include tittles-texts ($font-size:4em, $letter-spacing: 1rem, $text-align:center);
            }

            .band__p {
                @include tittles-texts ($font-size:2em, $letter-spacing: 0.1rem, $text-align:center);
                padding-top: map-get($paddings, small);
                padding-bottom: map-get($paddings, small);
                padding-left: map-get($paddings, small);
                padding-right: map-get($paddings, small);
            }
        }

        
    }
    .playlist {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            justify-content: center;

        }
}