/*ALBUMS*/

.albumstittle {

    &__h1 {
        @include tittles-texts ($font-style: normal, $font-size:5em, $font-weight: lighter, $letter-spacing: 1rem, $text-align:center);
        font-family: $font-secondary;
    }

    &__p {
        @include tittles-texts ($font-style: normal, $font-size:2.2em, $letter-spacing: 0.1rem, $text-align:center);
        color: rgb(217, 125, 217);
    }
}

.playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 4rem;
    padding: map-get($paddings, small);
    padding-bottom: map-get($paddings, xxxlarge);
    background-color: map-get($background-color, lightblack);
    border-radius: 2rem;

    &__h2 {
        font-size: 2.2em;
        padding-top: map-get($paddings, large);
        padding-bottom: map-get($paddings, small);
        color: white;
    }

    &__p {
        font-size: 2em;
        padding-bottom: map-get($paddings, small);
    }
}

/*MEDIA QUERY MEDIA*/

/*DESKTOP*/

@media screen and (max-width:1024px) {

    .albumstittle {

        &__h1 {
            @include tittles-texts ($font-style: normal, $font-size:4em, $font-weight: lighter, $letter-spacing: 1rem, $text-align:center);
        }

        &__p {
            @include tittles-texts ($font-style: normal, $font-size:2em, $letter-spacing: 0.1rem, $text-align:center);
            color: rgb(217, 125, 217);
        }
    }
}

/*TABLET*/

@media screen and (max-width:720px) {

    .gallerytittle {

        &__h1 {
            @include tittles-texts ($font-style: normal, $font-size:3em, $font-weight: lighter, $letter-spacing: 1rem, $text-align:center);
        }

        &__p {
            @include tittles-texts ($font-style: normal, $font-size:1.9em, $letter-spacing: 0.1rem, $text-align:center);
            color: rgb(217, 125, 217);
        }
    }

    .playlist {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }
}

/*MOBILE*/

@media screen and (max-width:480px) {

    .albumstittle {

        &__h1 {
            @include tittles-texts ($font-style: normal, $font-size:2.5em, $font-weight: lighter, $letter-spacing: 1rem, $text-align:center);
        }

        &__p {
            @include tittles-texts ($font-style: normal, $font-size:1.8em, $letter-spacing: 0.1rem, $text-align:center);
            color: rgb(217, 125, 217);
            margin: 2rem;
        }
    }

    .playlist {

        &__h2 {
            font-size: 2em;
        }
    }
}

/*SMALL MOBILE*/

@media screen and (max-width:360px) {

    .albumstittle {
        
        &__p {
            @include tittles-texts ($font-style: normal, $font-size:1.8em, $letter-spacing: 0.1rem, $text-align:center);
            color: rgb(217, 125, 217);
        }
    }
    .playlist {

        &__h2 {
            font-size: 1.9em;
            padding-top: 1.9rem;
        }
    }
}

/*SMALL PHONE - SAMSUNG FOLD*/

@media screen and (max-width:280px){
    
}