/*CONTACT*/

.form {
    align-items: left;
    padding-bottom: 4rem;
    flex-basis: 100%;
    flex-wrap: wrap;

    .contact__form {
        width: 100%;

        .form__sector {
            padding-bottom: 2rem;

            .contact__input {
                font-size: 2em;
            }

            .contact__inside {
                text-align: left;
                font-size: 1.8em;
                padding: 1rem 0 1rem .5rem;
            }

            .contact__checkbox {
                font-size: 1.8rem;

            }
        }

        .form__button {
            width: 20%;
            font-size: 3em;

            .button_letter {
                color: $principal;
                background-color: blueviolet;
                padding: 1rem 6rem;
                border-radius: 1rem;
                font-size: 2rem;
            }
        }
    }
}

/*MEDIA QUERY CONTACT*/
@media screen and (max-width:1024px) {

    .contact__h2 .contact__p {
        font-size: 3em;
    }

    .form {
        padding: 1rem;
        padding-bottom: 3rem;
    }
}