/*GALLERY*/
.gallery {
    gap: 2rem;
    padding-top: map-get($paddings, xlarge);
    padding-bottom: map-get($paddings, xlarge);

    img {
        width: 100%;
        border-radius: .5rem;
        padding: 0.2rem;
        background-color: map-get($background-color, lightgrey);
    }
}

/*MEDIA QUERY GALLERY*/
@media screen and (max-width:1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding-left: map-get($paddings, small);
        padding-right: map-get($paddings, small);
    }
}

@media screen and (max-width:480px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-left: map-get($paddings, small);
        padding-right: map-get($paddings, small);
    }
}