/*INDEX*/

.banner {
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;

    &__img {
        width: 100%;
        min-width: 360px;
    }
}

.section {
    @include flex(row, space-between, center, 2rem, nowrap);
    background-color: map-get($background-color, lightblack);
    padding: map-get($paddings, xlarge);

    &__picture {
        flex-basis: 50%;
        min-width: 360px;
        border-radius: 1rem;

        .section__img {
            width: 100%;
            border-radius: 0.5rem;
            padding: map-get($paddings, tiny);
            background-color: map-get($background-color, aquamarine);
        }
    }

    &__description {
        @include flex(column, space-between, center, 2rem, wrap);
        flex-basis: 50%;
        color: $principal;

        .section__container {
            h1 {
                @include tittles-texts ($font-style: normal, $font-size:5em, $font-weight: lighter, $letter-spacing: 1rem, $text-align:center);
                font-family: $font-secondary;
                color: blueviolet;
            }

            h2 {
                @include tittles-texts ($font-style: italic, $font-size:2em, $font-weight: lighter, $letter-spacing: 0, $text-align:center);
                color: rgb(235, 223, 174);
                padding: map-get($paddings, small)
            }

            .section__h2:before {
                content: "✨";
            }

            .section__h2:after {
                content: "✨";
            }

            h3 {
                @include tittles-texts ($font-style: italic, $font-size:3em, $font-weight: lighter, $letter-spacing: 0, $text-align:center);
                color: rgb(235, 223, 174);
                padding: map-get($paddings, small)
            }

            p {
                @include tittles-texts ($font-style: normal, $font-size:1.6em, $letter-spacing: 0.1rem, $text-align:justify);
                padding: map-get($paddings, xsmall);
            }
        }

        .button {
            font-size: 1.8em;
            font-weight: bold;
            color: $secondary;
            text-align: center;
            background-color: map-get($background-color, aquamarine);
            width: 25rem;
            padding: map-get($paddings, tiny-special);
            border-radius: 3rem;

            &:hover {
                background-color: map-get($background-color, lightblue);
            }

            &:active {
                background-color: map-get($background-color, lightblue);
                transform: translateY(3px);
            }

        }


    }
}

/*MEDIA QUERY INDEX*/

@media screen and (max-width:1024px) {

    .section {
        flex-wrap: wrap;
        align-items: center;

        &__picture {
            flex-grow: 1;
            padding: 0 1rem
        }

        &__description {
            flex-grow: 1;
            order: -1;
            align-items: center;
            padding: map-get($paddings, xsmall);

            .section__container {
                h1 {
                    font-size: 3em;
                    padding-bottom: 2rem;
                    font-weight: lighter;
                    letter-spacing: .5rem;
                }

                h2 {
                    font-size: 2.2em;
                }

                p {
                    font-size: 1.4em;
                }
            }
        }
    }
}

@media screen and (max-width:360px) {
    .section {
        &__description {
            .section__container {
                h2 {
                    font-size: 1.8em;
                }
                
                p {
                    font-size: 1.6em;
                }
            }
        }
    }
}