/*MEDIA*/

.playlist {
    width: 100%;
    min-width: 360px;
    justify-content: center;
    flex-wrap: wrap;

    &__a {
        flex-basis: 100%;
    }

    &__h2 {
        font-size: 3em;
        padding-bottom: 1rem;
        color: aquamarine;
    }

    &__p {
        font-size: 3em;
        padding-bottom: 1rem;
    }
}

/*MEDIA QUERY MEDIA*/

@media screen and (max-width:1024px) {

    .playlist {
        padding: 1rem;
        padding-bottom: 2rem;
    }

}