/*MEDIA*/

.playlist {
    width: 100%;
    min-width: 360px;
    @include flex(row, space-between, center, 0,wrap);
    
    &__a {
        flex-basis: 100%;
    }

    &__h2 {
        font-size: 3em;
        padding-top: map-get($paddings , large);
        color: aquamarine;
    }

    &__p {
        font-size: 3em;
        padding-bottom: map-get($paddings , xsmall);
    }
}

/*MEDIA QUERY MEDIA*/

@media screen and (max-width:1024px) {

    .playlist {
        padding: map-get($paddings , xsmall);
        padding-bottom: map-get($paddings , medium)
    }

}