 /*TOUR*/
 
 .table {
    
     width: 100%;
     min-width: 50%;
     justify-content: center;
     padding: map-get($paddings, large);
     background-color: map-get($background-color , lightblack);

     &__info {
         font-size: 3em;
         align-items: center;
         color: aquamarine;
         padding-bottom: map-get($paddings, xlarge)
     }

     &__tittle {
         font-size: 3em;
         padding-bottom: map-get($paddings, medium);
         text-align: center;
         color: blueviolet;
     }

     &__dates {
         font-size: 2em;
         font-weight: lighter;
         padding-bottom: map-get($paddings, medium);
     }

 }

 /*MEDIA QUERY TOUR*/

 @media screen and (max-width:1024px) {
     .table {
         padding: map-get($paddings, xsmall);
     }
 }