/* RESET CSS*/

*,
*::before,
*::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*GLOBALS*/

html {
    background-color: black;
    font-size: 62.5%;
    font-family: $font-primary;
    color: $principal;
}

main {
    background-image: url("../assets/image/background.jpg");
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/*FLEX | BODY*/

body {
    display:flex;
    flex-direction: column;
}

header {
    background-color: #000000;
}
