<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

    <title>Coldplay</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="media.html" class="menu__link">Media</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="Contact.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Fin del header-->
    <!--Inicio de main-->
    <main>
    <section class="container flex-row">
        <picture class="banner">
            <img src="../assets/image/imagen coldplay2.jpg" class="banner__img" alt="foto de banda">
        </picture>
    </section>
    <section class="section container">
        <article class="section__description ">
            <div class="section__container">
                <h1>About Coldplay</h1>
                <p>Coldplay, are an English alternative rock band, formed in London in 1996-1997. Chris Martin, who
                    became the lead singer and frontman of the band, and Jonny Buckland, who became lead guitarist, were
                    looking forward to form a band while at University College London. After forming Pectoralz, Guy
                    Berryman joined the group as a bassist and they changed their name to Starfish. Will Champion joined
                    as a drummer and backup vocalist who plays various instruments, making the band's lineup complete.
                    Phil Harvey was the group's manager between 1998 and 2001, and has been described as the band's
                    fifth member. The band finally changed their name to "Coldplay" in 1998. Tim Rice-Oxley was to be
                    added to the lineup, but he refused as he was working with Keane. The band later recorded and
                    released three EPs; Safety in 1998, Brothers & Sisters as a single in 1999 and The Blue Room in the
                    same year. The latter was their first release on a major label, after signing to Parlophone.</p>

                <p>Coldplay's early material was compared to acts such as Radiohead, Jeff Buckley, U2, and Travis. They
                    had worldwide fame with the release of the single "Yellow" in 2000, followed by their debut album
                    released in the same year, Parachutes, which was nominated for the Mercury Prize. The band's second
                    album, A Rush of Blood to the Head (2002), won multiple awards, including NME's Album of the Year.
                    Their next release, X&Y, received a slightly less enthusiastic yet still generally positive
                    reception upon its release in 2005. The band's fourth studio album, Viva la Vida or Death and All
                    His Friends (2008), was produced by Brian Eno and released again to largely favourable reviews,
                    earning several Grammy nominations and wins. Coldplay have sold over 50 million records worldwide.
                </p>
                <p> Since the release of Parachutes, Coldplay have drawn influence from other sources, including Echo &
                    the Bunnymen, Kate Bush, George Harrison and Muse on A Rush of Blood to the Head, Johnny Cash and
                    Kraftwerk for X&Y and Blur, Arcade Fire and My Bloody Valentine on Viva la Vida. Coldplay have been
                    an active supporter of various social and political causes, such as Oxfam's Make Trade Fair campaign
                    and Amnesty International. The group have also performed at various charity projects, such as Band
                    Aid 20, Live 8, Sound Relief, Hope for Haiti Now: A Global Benefit for Earthquake Relief, and the
                    Teenage Cancer Trust.
                </p>
            </div>
        </article>
    </section>
    <section>
        <div class="members container">
            <div>
                <h2 class="members__tittle">Members</h>
            </div>
            <div class="members__info flex-row">
                <div class="members__profile">
                    <img src="../assets/image/member1.png" alt="chrismartin" class="members__img">
                    <div>
                        <h3 class="members__name">Chris Martin</h3>
                    </div>
                    <div class="members__p">
                        <p>Pianist - Vocalist</p>
                        <p>March 2, 1977 - U.K</p>
                    </div>
                </div>
                <div class="members__profile">
                    <img src="../assets/image/member2.png" alt="Guy berryman" class="members__img">
                    <div>
                        <h3 class="members__name">Guy Berryman</h3>
                    </div>
                    <div class="members__p">
                        <p>Bass - Vocalist </p>
                        <p>April 12, 1978 - U.K</p>
                    </div>
                </div>
                <div class="members__profile">
                    <img src="../assets/image/member3.png" alt="Will Champion" class="members__img">
                    <div>
                        <h3 class="members__name">Will Champion</h3>
                    </div>
                    <div class="members__p">
                        <p>Drums</p>
                        <p>July 31, 1978 - U.K</p>
                    </div>
                </div>
                <div class="members__profile">
                    <img src="../assets/image/member4.png" alt="Jonny Buckland" class="members__img">
                    <div>
                        <h3 class="members__name">Jonny Buckland</h3>
                    </div>
                    <div class="members__p">
                        <p>Guitarist</p>
                        <p>September 11, 1977 - U.K</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <!--Footer-->
    <footer class="footer flex-row">
        <div class="footer__socialmedia flex row">
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
        </div>
        <p class="copyright">Copyright © Coldplay 2022. </p>
    </footer>

</body>

</html>