<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

    <title>Coldplay</title>
</head>

<body>
    <!--Inicio de header-->
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../index.html"><img src="../assets/image/coldplay-logo-.png" alt="Coldplay"
                        class="logo__img"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="media.html" class="menu__link">Media</a>
                </li>
                <li class="menu__item">
                    <a href="tour.html" class="menu__link">Tour</a>
                </li>
                <li class="menu__item">
                    <a href="Contact.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--Fin del header-->

    <!--inicio de main-->


<main>
    <section class="section flex-row container">
        <article class="section__description">
            <div class="section__container">
                <h1>Discography</h1>                
            </div>
        </article>
   </section>
   <section class="playlist section flex-row container">
            <div class="playlist__a">
                <h2 class="playlist__h2">Music of the Spheres</h2>
                <p class="playlist__p">2021</p>
                <iframe class="media_playlist" style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/06mXfvDsRZNfnsGZvX2zpb?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="playlist__a">
                <h2 class="playlist__h2">Everyday Life</h2>
                <p class="playlist__p">2019</p>
                <iframe class="media__playlist" style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/2FeyIYDDAQqcOJKOKhvHdr?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
    
</section>
</main>

    
    <!--fin de main-->






    <!--Inicio de footer-->
    <footer class="footer flex-row">
        <div class="footer__socialmedia flex row">
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU" target="_blank" class="footer_icon"> <img
                    src="../assets/image/s.png" alt="Spotify"></a>
            <a href="https://www.deezer.com/mx/artist/892" target="_blank" class="footer_icon"> <img
                    src="../assets/image/d.png" alt="Deezer"></a>
            <a href="https://www.instagram.com/coldplay/" target="_blank" class="footer_icon"> <img
                    src="../assets/image/i.png" alt="instagram"></a>
        </div>
        <p class="copyright">Copyright © Coldplay 2022. </p>
    </footer>

    <!--Fin de footer-->
</body>

</html>